.services{
    margin-top: 60px;
    width: 100%;
    max-width: 100%;
    height: auto;
    padding: 25px 0px;
    text-align: center;
    overflow: hidden;
}

.services h2{
    color: #000;
    font-size: 2rem;
    margin: 15px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.services p{
    color: #777;
    font-size: 1.2rem;
    line-height: 30px ;
    margin: 20px 0px;
}

.services .box{
    width: 100%;
    max-width: 100%;
    background-color: transparent;
    height: auto;
    padding: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.services .box svg{
    color: #fb3e3e;
}

.services .box h3{
    color: #212121;
    font-size: 1.2rem;
    margin: 15px 0px;
    text-transform: uppercase;
    font-weight: bold;
}

.services .box p{
    color: #777;
    font-size: .9rem;
    margin: 15px 0px ;
}
